#root, #root > div {
  font-family: 'Noto Sans', sans-serif;
  background-color: #5b778fff;
  width: 100vw;
  height: 100vh;
}
  
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pop-up {
  background-color: #5b778fff;
}